/* Define color variables */
:root {
  --primary-bg: #263238;
  --primary-text: #000000;
  --secondary-bg: #f1f1f1;
  --secondary-text: #fff;
  --border-shadow: rgba(0, 0, 0, 0.2);
  --date-bg: #ffffff;
  --date-text: #263238;
}

/* Base styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  color: var(--primary-text);
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.main-content {
  padding: 40px;
  border-radius: 50px;
  box-shadow: 0 4px 8px var(--border-shadow);
  background-color: var(--primary-bg);
  margin: 40px;
}

.project-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: var(--secondary-bg);
  border-bottom: 2px solid var(--date-bg);
  padding-bottom: 5px;
}

.pathway-container {
  width: 100%;
  overflow: hidden;
  background-color: var(--date-bg);
  border-radius: 20px;
  padding: 10px;
}

.pathway {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--primary-bg);
  border-radius: 15px;
}

.pathway-description {
  font-size: 20px;
  color: var(--secondary-text);
  margin: 20px 0;
  text-align: center;
}

.pathway .image-date {
  color: var(--secondary-text);
}

.pathway img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--border-shadow);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pathway img:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px var(--border-shadow);
}

.pathway img.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1000;
  cursor: zoom-out;
}

.project-text-box {
  padding: 40px;
}

.project-text-box .outer-box {
  background-color: var(--primary-bg);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px var(--date-bg);
  transition: box-shadow 0.3s ease;
}

.project-text-box .inner-box {
  background-color: var(--date-bg);
  border-radius: 10px;
  padding: 20px;
}

.project-text-box .container {
  max-width: 800px;
  margin: 0 auto;
}

.project-text-box .section-title {
  font-size: 30px;
  color: var(--primary-text);
  margin-bottom: 20px;
}

.project-text-box .section-description {
  font-size: 20px;
  color: var(--primary-text);
  line-height: 1.6;
}

.project-text-box:hover .outer-box {
  box-shadow: 0 6px 12px var(--border-shadow);
}

.project-text-box:hover .inner-box {
  box-shadow: 0 4px 8px var(--border-shadow);
}

.video-frame {
  border: 4px solid var(--date-bg);
  border-radius: 30px;
  padding: 20px;
  background-color: var(--primary-bg);
}

.video-frame-content {
  border: 4px solid var(--primary-bg);
  border-radius: 25px;
  padding: 20px;
  background-color: var(--primary-bg);
}

.video-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-box {
  position: relative;
  background-color: var(--border-shadow);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--date-bg);
  margin: 20px;
  padding: 30px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  color: var(--primary-text);
  transition: box-shadow 0.3s ease;
}

.video-box:hover {
  box-shadow: 0 6px 12px var(--border-shadow);
}

.video-box video {
  width: 100%;
  border-radius: 10px;
  transition: border-radius 0.3s ease;
}

.video-box video:hover {
  border-radius: 0;
}

.video-box .video-description {
  font-size: 14px;
  padding: 0 10px;
  color: var(--secondary-text);
}

.date-box {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--date-bg);
  padding: 5px 10px;
  font-size: 14px;
  color: var (--date-text);
  border: 1px solid var(--date-text);
  border-radius: 5px;
  z-index: 1;
}

html {
  scroll-behavior: smooth;
}

/* Mobile styles */
@media (max-width: 768px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
  }

  .main-content {
      padding: 20px;
      margin: 20px;
      border-radius: 20px;
  }

  .project-title {
      font-size: 24px;
      margin-bottom: 10px;
  }

  .section-title {
      font-size: 164px;
  }

  .section-description {
      font-size: 12px;
  }

  .video-box {
      margin: 10px;
      padding: 20px;
      width: 100%;
  }

  .video-boxes {
      width: 100%;
  }

  .video-frame,
  .video-frame-content {
      padding: 10px;
      border-radius: 20px;
  }

  .pathway img {
      width: 100px;
      height: 75px;
  }

  .pathway-description {
      font-size: 16px;
  }

  
  .project-text-box {
    padding: 0px;
  }
  
  .project-text-box .outer-box {
    background-color: var(--primary-bg);
    border-radius: 15px;
    padding: 5%;
    box-shadow: 0 4px 8px var(--date-bg);
    transition: box-shadow 0.3s ease;
  }
  
  .project-text-box .inner-box {
    background-color: var(--date-bg);
    border-radius: 10px;
    padding: 2%;
  }
  
  .project-text-box .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .project-text-box .section-title {
    font-size: 30px;
    color: var(--primary-text);
    margin-bottom: 20px;
  }
  
  .project-text-box .section-description {
    font-size: 20px;
    color: var(--primary-text);
    line-height: 1.6;
  }
}
